input[type="checkbox"].small:after{
    width: 12px;
    height: 12px;
    margin-top: -15px;
}
input[type="checkbox"].small:checked:before{
    top: -14px;
    left: 3px;
    width: 6px;
    height: 8px;
}
.dropdown-menu.model-type-selector{
    width: 400px;
    padding: 10px;
}
.model-type-selector-cont{
    
}
.model-type-selector-cont .model-edit-x{
    font-family: apic-font;
    font-weight: bold;
    position: absolute;
    right: 8px;
    top: 3px;
    font-size: 13px;
    cursor: pointer;
}
.model-type-selector-cont .title{
    font-size: 16px;
    font-family: apic-font;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.model-types, .array-items{
    padding: 5px 0;
}
.model-types .btn.btn-link{
    font-size: 14px;
    margin: 2px 3px;
    /*border: 1px solid rgba(0,0,0,0.1);*/
    padding: 4px 10px 3px;
}
.model-types .btn.btn-link.t_bg{
    color: #fff;
}
input.model-key{
    font-size: 14px;
    font-family: apic-font;
    /*font-weight: bold;*/
    height: 20px;
    width: 85px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 0 5px;
    margin-right: 5px;
}
input.model-key:focus, input.model-key:active{
    box-shadow: 0 0 8px rgba(0,0,0,0.1) inset;
    outline: none;
}
input.model-key:hover{
    border: 1px solid rgba(0,0,0,0.2);
}
.js-row.t_bg .btn.model-selector{
    background: #fff;
}
.btn.model-selector .caret{
    display: none;
}
.btn.model-selector:hover .caret{
    display: inline-block;
}
.js-row{
    padding: 2px 15px 1px;
    position: relative;
}
.js-row:hover{
    background: #ECEFF1;
}
.js-row:hover .obj-add{
    background: #ECEFF1;
}
.obj-add{
    position: absolute;
    /* background: #F9F9FB; */
    left: -28px;
    top: 2px;
}
.obj-exp{
    position: absolute;
    left: 0px;
    top: 8px;
    font-size: 12px;
    cursor: pointer
}
.js-row .model-remove{
    color: #ff0000;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 5px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 13px;
    font-family: apic-font;
    border-radius: 50%;
    font-size: 12px;
    display: none;
    background: #fff;
    padding-top: 2px;
}
.js-row:hover .model-remove{
    display: block;
}
.js-row .model-detail{
    color: #2093EF;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 23px;
    font-size: 15px;
    background: #fff;
    /*opacity: 0.3;*/
}
.js-row .model-done{
    color: #2093EF;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    background: #f5f5f5;
    height: 24px;
    width: 26px;
}
.js-row:hover .model-detail{
    opacity: 1;
}
.js-row .model-summary{
    position: absolute;
    top: 2px;
    right: 50px;
    min-width: 5px;
    min-height: 5px;
}
.js-row.t_bg .model-summary{
    color: #fff;
}
.js-row .model-summary>span{
    margin-right: 10px;
    vertical-align: text-bottom;
}
.js-row .model-summary .ico{
    font-size: 22px;
}
.Array{
    color: #009688 !important;
    font-weight: bold;
}
.Boolean{
    color: #FF9800 !important;
    font-weight: bold;
}
.Integer, .Number{
    color: #E91E63 !important;
    font-weight: bold;
}
.Null{
    color: #F44336 !important;
    font-weight: bold;
}
.String{
    color: #9C27B0 !important;
    font-weight: bold;
}
.Object{
    color: #2196f3 !important;
    font-weight: bold;
}
.unspecified{
    color: #9E9E9E;
    font-weight: bold;
}
.model-det-cont{
    background:#f5f5f5;
    overflow:auto;
    padding:10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    margin-bottom: 5px;
}
form.model-detail-form .control-label{
    padding: 0 5px;
}
form.model-detail-form .detail-ip{
    font-size: 13px;
    font-family: apic-font;
    background-color: #fff;
    padding: 0 5px;
    height: 25px;
}
form.model-detail-form select.detail-ip{
    padding-right: 20px;
}
form.model-detail-form textarea{
    font-size: 13px;
    font-family: apic-font;
    background: #fff;
    padding: 0 5px;
}
label.model-label-x{
    width: 90px;
}
.form-compact.model-detail-form .form-group{
    margin-bottom: 5px;
}