<div>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Designer">

            <div >
                <div class="main" style="background: #fff;padding:20px">
                    <div ng-include="'modules/JsonSchemeEditor/'+$data._type+'-schema.html'"></div>
                </div>
            </div>



        </uib-tab>
        <uib-tab index="1" heading="JSON Schema" select="convertObj2Schema()">
            <pre>{{$schema}}</pre>
        </uib-tab>
        <uib-tab index="2" heading="Example">
            <textarea class="form-control"></textarea>
        </uib-tab>
    </uib-tabset>
    
</div>


<script type="text/ng-template" id="modules/JsonSchemeEditor/Object-schema.html">
    <div style="margin-left:20px;position:relative;">
        <div class="js-row" ng-class="showDetailsPan?'t_bg':''" ng-init="showDetailsPan=false;objDetSxpanded=true">
            <button class="btn btn-link btn-href glyphicon glyphicon-plus obj-add" ng-click="addNewProp(entity,$data)"></button>
            <span class="glyphicon t_color obj-exp" ng-class="objDetSxpanded?'glyphicon-triangle-bottom':'glyphicon-triangle-right'" ng-click="objDetSxpanded=!objDetSxpanded"></span>
            <span ng-hide="entity.$root$"><input class="model-key" type="text" ng-model="entity._key" />:</span> <span model-type-selector></span>
            <span style="color:#9E9E9E;font-size:12px;">{<span>{{entity._properties.length}}</span>}</span>
            <div class="model-detail" ng-hide="showDetailsPan" ng-click="showDetailsPan=true"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="model-done" ng-show="showDetailsPan" ng-click="showDetailsPan=false"><span class="glyphicon glyphicon-ok"></span></div>
            <div class="model-remove" ng-if="!entity.$root$"  ng-click="removeEntity(entity)"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="model-summary">
                <span ng-show="entity._description" class="icon bj-playlist_add_check ico" uib-tooltip="Description present"></span>
                <span ng-if="!entity.$root$"><input type="checkbox" class="small" ng-model="entity._required"/>Required</span>
            </div>
        </div>
        <div class="model-det-cont" ng-show="showDetailsPan">
            <div class="col-xs-6" style="border-right:1px solid #9E9E9E">
                <div class="t_color bold">Basic Info</div>
                <div class="">
                <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
                    <div class="form-group" ng-if="!entity.$root$">
                        <label class="control-label col-xs-2">Name:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" id="foldName" placeholder="Field Name" ng-model="entity._key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Description:</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" ng-model="entity._description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Default:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" ng-model="entity._default" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-xs-6">
                <form class="form-inline model-detail-form" name="detailForm" role="form">
                <div class="t_color bold">Validations</div>
                <div ng-if="!entity.$root$">
                    <div class="checkbox" style="padding: 2px 0;">
                        <label><input type="checkbox" ng-model="entity._required"> Required ?</label>
                    </div>
                </div>
                <div>
                    <div class="checkbox" style="padding: 2px 0;">
                        <label><input type="checkbox" ng-model="entity._disallowAdditional"> Disallow Additipnal Properties</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">minProperties:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._minProperties" min="0" placeholder=">=0" />
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">maxProperties:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._maxProperties" min="0" placeholder=">=0" />
                </div>
            </form>
                    
            </div>
        </div>
        <div style="border-left:0px solid rgba(0,0,0,0.2)" ng-show="objDetSxpanded">
            <div ng-repeat="prop in entity._properties">
                <div ng-repeat="(key, entity) in prop">
                    <div ng-include="'modules/JsonSchemeEditor/'+entity._type+'-schema.html'"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modules/JsonSchemeEditor/String-schema.html">
    <div style="margin-left:20px;">
        <div class="js-row" ng-class="showDetailsPan?'t_bg':''" ng-init="showDetailsPan=false">
            <span ng-hide="entity.$root$"><input class="model-key" type="text" ng-model="entity._key" />:</span>
            <span model-type-selector></span>
            <div class="model-detail" ng-hide="showDetailsPan" ng-click="showDetailsPan=true"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="model-done" ng-show="showDetailsPan" ng-click="showDetailsPan=false"><span class="glyphicon glyphicon-ok"></span></div>
            <div class="model-remove" ng-if="!entity.$root$"  ng-click="removeEntity(entity)"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="model-summary">
                <span ng-if="!entity.$root$"><input type="checkbox" class="small" ng-model="entity._required"/>Required</span>
            </div>
        </div>
        <div class="model-det-cont" ng-show="showDetailsPan">
            <div class="col-xs-6" style="border-right:1px solid #9E9E9E">
                <div class="t_color bold">Basic Info</div>
                <div class="">
                <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
                    <div class="form-group" ng-if="!entity.$root$">
                        <label class="control-label col-xs-2">Name:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" id="foldName" placeholder="Field Name" ng-model="entity._key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Description:</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" ng-model="entity._description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Default:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" ng-model="entity._default" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-xs-6">
                <form class="form-inline model-detail-form" name="detailForm" role="form">
                <div class="t_color bold">Validations</div>
                <div ng-if="!entity.$root$">
                    <div class="checkbox" style="padding: 2px 0;">
                        <label><input type="checkbox" ng-model="entity._required" /> Required ?</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">minLength:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._minLength" min="0" placeholder=">=0" />
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">maxLength:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._maxLength" min="0" placeholder=">=0" />
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">Pattern:</label>
                    <input type="text" class="form-control sm detail-ip" ng-model="entity._pattern" min="0" />
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">Format:</label>
                    <select class="form-control sm detail-ip" ng-model="entity._format">
                        <option value="byte">byte</option>
                        <option value="binary">binary</option>
                        <option value="date">date</option>
                        <option value="date-time">date-time</option>
                        <option value="password">password</option>
                    </select>
                </div>
            </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modules/JsonSchemeEditor/Array-schema.html">
    <div style="margin-left:20px;">
        <div class="js-row" ng-class="showDetailsPan?'t_bg':''" ng-init="showDetailsPan=false">
            <span ng-hide="entity.$root$"><input class="model-key" type="text" ng-model="entity._key" />:</span>
            <span model-type-selector></span>
            <span ng-class="entity._items[0]._type" class="unspecified">[ {{entity._items[0]._type?entity._items[0]._type:'Unspecified'}} ]</span>
            <div class="model-detail" ng-hide="showDetailsPan" ng-click="showDetailsPan=true"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="model-done" ng-show="showDetailsPan" ng-click="showDetailsPan=false"><span class="glyphicon glyphicon-ok"></span></div>
            <div class="model-remove" ng-if="!entity.$root$"  ng-click="removeEntity(entity)"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="model-summary">
                <span ng-if="!entity.$root$"><input type="checkbox" class="small" ng-model="entity._required"/>Required</span>
            </div>
        </div>
        <div class="model-det-cont" ng-show="showDetailsPan">
            <div class="col-xs-6" style="border-right:1px solid #9E9E9E">
                <div class="t_color bold">Basic Info</div>
                <div class="">
                <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
                    <div class="form-group" ng-if="!entity.$root$">
                        <label class="control-label col-xs-2">Name:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" id="foldName" placeholder="Field Name" ng-model="entity._key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Description:</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" ng-model="entity._description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Default:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" ng-model="entity._default" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-xs-6">
                <form class="form-inline model-detail-form" name="detailForm" role="form">
                <div class="t_color bold">Validations</div>
                <div ng-if="!entity.$root$">
                    <div class="checkbox" style="padding: 2px 0;">
                        <label><input type="checkbox" ng-model="entity._required" /> Required ?</label>
                    </div>
                </div>
                <div>
                    <div class="checkbox" style="padding: 2px 0;">
                        <label><input type="checkbox" ng-model="entity._uniqueItems"> Allow only unique items?</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">minItems:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._minItems" min="0" placeholder=">=0" />
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">maxItems:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._maxItems" min="0" placeholder=">=0" />
                </div>
            </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modules/JsonSchemeEditor/Boolean-schema.html">
    <div style="margin-left:20px;">
        <div class="js-row" ng-class="showDetailsPan?'t_bg':''" ng-init="showDetailsPan=false">
            <span ng-hide="entity.$root$"><input class="model-key" type="text" ng-model="entity._key" />:</span>
            <span model-type-selector></span>
            <div class="model-detail" ng-hide="showDetailsPan" ng-click="showDetailsPan=true"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="model-done" ng-show="showDetailsPan" ng-click="showDetailsPan=false"><span class="glyphicon glyphicon-ok"></span></div>
            <div class="model-remove" ng-if="!entity.$root$"  ng-click="removeEntity(entity)"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="model-summary">
                <span ng-if="!entity.$root$"><input type="checkbox" class="small" ng-model="entity._required"/>Required</span>
            </div>
        </div>
        <div class="model-det-cont" ng-show="showDetailsPan">
            <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
            <div class="col-xs-6" style="border-right:1px solid #9E9E9E">
                <div class="t_color bold">Basic Info</div>
                <div class="">
                    <div class="form-group" ng-if="!entity.$root$">
                        <label class="control-label col-xs-2">Name:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" id="foldName" placeholder="Field Name" ng-model="entity._key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Description:</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" ng-model="entity._description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Default:</label>
                        <div class="col-xs-9">
                            <select class="form-control sm detail-ip" ng-model="entity._default">
                                <option value="false">False</option>
                                <option value="true">True</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="t_color bold">Validations</div>
                <div ng-if="!entity.$root$">
                    <div class="checkbox" style="padding: 2px 0;">
                        <label><input type="checkbox" ng-model="entity._required" /> Required ?</label>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modules/JsonSchemeEditor/Integer-schema.html">
    <div style="margin-left:20px;">
        <div class="js-row" ng-class="showDetailsPan?'t_bg':''" ng-init="showDetailsPan=false">
            <span ng-hide="entity.$root$"><input class="model-key" type="text" ng-model="entity._key" />:</span>
            <span model-type-selector></span>
            <div class="model-detail" ng-hide="showDetailsPan" ng-click="showDetailsPan=true"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="model-done" ng-show="showDetailsPan" ng-click="showDetailsPan=false"><span class="glyphicon glyphicon-ok"></span></div>
            <div class="model-remove" ng-if="!entity.$root$"  ng-click="removeEntity(entity)"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="model-summary">
                <span ng-if="!entity.$root$"><input type="checkbox" class="small" ng-model="entity._required"/>Required</span>
            </div>
        </div>
        <div class="model-det-cont" ng-show="showDetailsPan">
            <div class="col-xs-6" style="border-right:1px solid #9E9E9E">
                <div class="t_color bold">Basic Info</div>
                <div class="">
                <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
                    <div class="form-group" ng-if="!entity.$root$">
                        <label class="control-label col-xs-2">Name:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" id="foldName" placeholder="Field Name" ng-model="entity._key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Description:</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" ng-model="entity._description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Default:</label>
                        <div class="col-xs-9">
                            <input type="number" class="form-control sm detail-ip" ng-model="entity._default" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-xs-6">
                <form class="form-inline model-detail-form" name="detailForm" role="form">
                <div class="t_color bold">Validations</div>
                <div ng-if="!entity.$root$">
                    <div class="checkbox" style="padding: 2px 0;">
                        <label><input type="checkbox" ng-model="entity._required" /> Required ?</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">minimum:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._minimum" min="0" />
                    <label><input type="checkbox" ng-model="entity._exclusiveMinimum"> Exclude minimum ?</label>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">maximum:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._maximum" min="0" />
                    <label><input type="checkbox" ng-model="entity._exclusiveMaximum"> Exclude maximum ?</label>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">multipleOf:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._multipleOf" min="0" />
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">Format:</label>
                    <select class="form-control sm detail-ip" ng-model="entity._format">
                        <option value="int32">int32</option>
                        <option value="int64">int64</option>
                    </select>
                </div>
            </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modules/JsonSchemeEditor/Number-schema.html">
    <div style="margin-left:20px;">
        <div class="js-row" ng-class="showDetailsPan?'t_bg':''" ng-init="showDetailsPan=false">
            <span ng-hide="entity.$root$"><input class="model-key" type="text" ng-model="entity._key" />:</span>
            <span model-type-selector></span>
            <div class="model-detail" ng-hide="showDetailsPan" ng-click="showDetailsPan=true"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="model-done" ng-show="showDetailsPan" ng-click="showDetailsPan=false"><span class="glyphicon glyphicon-ok"></span></div>
            <div class="model-remove" ng-if="!entity.$root$"  ng-click="removeEntity(entity)"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="model-summary">
                <span ng-if="!entity.$root$"><input type="checkbox" class="small" ng-model="entity._required"/>Required</span>
            </div>
        </div>
        <div class="model-det-cont" ng-show="showDetailsPan">
            <div class="col-xs-6" style="border-right:1px solid #9E9E9E">
                <div class="t_color bold">Basic Info</div>
                <div class="">
                <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
                    <div class="form-group" ng-if="!entity.$root$">
                        <label class="control-label col-xs-2">Name:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" id="foldName" placeholder="Field Name" ng-model="entity._key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Description:</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" ng-model="entity._description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Default:</label>
                        <div class="col-xs-9">
                            <input type="number" class="form-control sm detail-ip" ng-model="entity._default" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-xs-6">
                <form class="form-inline model-detail-form" name="detailForm" role="form">
                <div class="t_color bold">Validations</div>
                <div ng-if="!entity.$root$">
                    <div class="checkbox" style="padding: 2px 0;">
                        <label><input type="checkbox" ng-model="entity._required" /> Required ?</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">minimum:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._minimum" min="0" />
                    <label><input type="checkbox" ng-model="entity._exclusiveMinimum"> Exclude minimum ?</label>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">maximum:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._maximum" min="0" />
                    <label><input type="checkbox" ng-model="entity._exclusiveMaximum"> Exclude maximum ?</label>
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">multipleOf:</label>
                    <input type="number" class="form-control sm detail-ip" ng-model="entity._multipleOf" min="0" />
                </div>
                <div class="form-group col-xs-12">
                    <label class="model-label-x">Format:</label>
                    <select class="form-control sm detail-ip" ng-model="entity._format">
                        <option value="float">float</option>
                        <option value="double">double</option>
                    </select>
                </div>
            </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modules/JsonSchemeEditor/Null-schema.html">
    <div style="margin-left:20px;">
        <div class="js-row" ng-class="showDetailsPan?'t_bg':''" ng-init="showDetailsPan=false">
            <span ng-hide="entity.$root$"><input class="model-key" type="text" ng-model="entity._key" />:</span>
            <span model-type-selector></span>
            <div class="model-detail" ng-hide="showDetailsPan" ng-click="showDetailsPan=true"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="model-done" ng-show="showDetailsPan" ng-click="showDetailsPan=false"><span class="glyphicon glyphicon-ok"></span></div>
            <div class="model-remove" ng-if="!entity.$root$"  ng-click="removeEntity(entity)"><span class="glyphicon glyphicon-remove"></span></div>
        </div>
        <div class="model-det-cont" ng-show="showDetailsPan">
            <div class="col-xs-6" style="border-right:1px solid #9E9E9E">
                <div class="t_color bold">Basic Info</div>
                <div class="">
                <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
                    <div class="form-group" ng-if="!entity.$root$">
                        <label class="control-label col-xs-2">Name:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control sm detail-ip" id="foldName" placeholder="Field Name" ng-model="entity._key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Description:</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" ng-model="entity._description"></textarea>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-xs-6">
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modules/JsonSchemeEditor/modelTypeSelector.html">
    <span uib-dropdown on-toggle="modelSelectorOpened(open,entity)">
        <button type="button" uib-dropdown-toggle class="btn btn-link btn-href model-selector" ng-class="entity._type">{{entity._type}}<span class="caret"></span></button>
        <div class="dropdown-menu model-type-selector" uib-dropdown-menu>
            <div ng-include="'modules/JsonSchemeEditor/model-selector-schema.html'"></div>
        </div>
    </span>
</script>

<script type="text/ng-template" id="modules/JsonSchemeEditor/model-selector-schema.html">
    <div class="model-type-selector-cont">
        <div class="t_color model-edit-x" ng-click="$parent.showDetailsPan=true"><span class="glyphicon glyphicon-pencil gap"></span>Edit Model</div>
        <div class="title t_color">Model Type</div>
        <div class="model-types">
            <button class="btn btn-link btn-sm" ng-class="configs.currModelType=='Array'?'t_bg':''" ng-click="changeModelType('Array', entity)">Array</button>
            <button class="btn btn-link btn-sm" ng-class="configs.currModelType=='Boolean'?'t_bg':''" ng-click="changeModelType('Boolean', entity)">Boolean</button>
            <button class="btn btn-link btn-sm" ng-class="configs.currModelType=='Integer'?'t_bg':''" ng-click="changeModelType('Integer', entity)">Integer</button>
            <button class="btn btn-link btn-sm" ng-class="configs.currModelType=='Number'?'t_bg':''" ng-click="changeModelType('Number', entity)">Number</button>
            <button class="btn btn-link btn-sm" ng-class="configs.currModelType=='Null'?'t_bg':''" ng-click="changeModelType('Null', entity)">null</button>
            <button class="btn btn-link btn-sm" ng-class="configs.currModelType=='Object'?'t_bg':''" ng-click="changeModelType('Object', entity)">Object</button>
            <button class="btn btn-link btn-sm" ng-class="configs.currModelType=='String'?'t_bg':''" ng-click="changeModelType('String', entity)">String</button>
            <button class="btn btn-link btn-sm" ng-click="changeModelType('$ref', entity)">$ref</button>
        </div>
        <div ng-if="configs.showArrItems">
            <div class="title t_color">Array Items Type</div>
            <div class="array-items">
                <button class="btn btn-link btn-sm" ng-click="setArrayType('Unspecified', entity)">Unspecified</button>
                <!--<button class="btn btn-link btn-sm" ng-click="">Array</button>-->
                <button class="btn btn-link btn-sm" ng-click="setArrayType('Integer', entity)">Integer</button>
                <button class="btn btn-link btn-sm" ng-click="setArrayType('Boolean', entity)">Boolean</button>
                <button class="btn btn-link btn-sm" ng-click="setArrayType('Number', entity)">Number</button>
                <button class="btn btn-link btn-sm" ng-click="setArrayType('Object', entity)">Object</button>
                <button class="btn btn-link btn-sm" ng-click="setArrayType('String', entity)">String</button>
            </div>
        </div>
    </div>
</script>